// @import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
$mainColor: rgb(69, 195, 210);

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

@font-face {
  font-family: main-font;
  src: url("../fonts/din-next-lt-w23-medium.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: main-font;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

// pagination
.pagination-parent {
  position: relative;
  margin-top: 50px;
}
.pagination {
  position: absolute;
  left: 50%;
  // width: 100%;
  overflow: auto;
  transform: translate(-50%, 0);
  .page-item {
    .page-link {
      border: 0;
      background-color: #f7f7f7;
      color: #000;
      font-size: 14px;
      margin: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .active {
      background-color: #239bd5;
      color: #fff;
    }
  }
}

// navbar
.navbar {
  background-color: #fff;
  padding-top: 30px;
  .navbar-brand {
    img {
      width: 94px;
      max-height: 48px;
    }
  }
  .container {
    position: relative;
    &::after {
      content: url("../images/navbar-img.png");
      position: absolute;
      top: -30px;
      left: 140px;
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 65px;
    }
    .nav-item:last-child {
      background-color: $mainColor;
      border-radius: 26px;
      position: absolute;
      left: 0;
      transition: all 0.5s ease;
      padding: 5px;
      z-index: 7;
      .nav-link {
        color: #fff;
      }
      i {
        color: #fff;
      }
      &:hover {
        background-color: #fff;
        background-position: right;
        border: 1px solid $mainColor;
        .nav-link {
          color: $mainColor;
          i {
            color: $mainColor;
          }
        }
      }
    }
  }
}

.navbar-otherpage {
  .container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -30px;
      left: 140px;
    }
  }
}

// header
.header {
  margin-top: 170px;
  position: relative;
  .circle-1 {
    position: absolute;
    width: auto;
    height: auto;
    top: -130px;
    left: 360px;
  }

  .header-content {
    position: relative;
    .circle-2 {
      position: absolute;
      width: auto;
      height: auto;
      right: 0;
      top: -90px;
    }
    h6 {
      color: #45c3d2;
      font-size: 30px;
    }
    h5 {
      font-size: 50px;
    }
    p {
      color: #c8c8c8;
      font-size: 20px;
      width: 80%;
      margin-top: 25px;
    }
    .btn {
      background-color: $mainColor;
      color: #fff;
      border-radius: 26px;
      width: 244px;
      transition: all 0.5s ease;
      height: 51px;
      line-height: 40px;
      &:hover {
        background-color: #fff;
        background-position: right;
        color: $mainColor;
        border: 1px solid $mainColor;
      }
    }
  }
  .header-img {
    text-align: left;
    margin-top: -136px;
    img {
      max-height: 608px;
    }
  }
}

// features
.services {
  margin-top: 170px;
  .section-header {
    text-align: center;
    margin-bottom: 80px;
    h5 {
      font-size: 36px;
      width: 35%;
      margin: auto;
    }
  }
  .card {
    border: 0;
    margin-bottom: 15px;
    .card-img {
      text-align: center;
      img {
        width: auto;
        max-height: 90px;
        margin: auto;
      }
    }
    .card-title {
      margin: 0;
      text-align: center;
      font-size: 25px;
      margin-top: 36px;
      color: #000;
      text-decoration: none;
    }
    .card-text {
      font-size: 16px;
      color: #9a9a9a;
      margin: 0;
      margin-top: 20px;
    }
  }
}

// about us
.about-us {
  margin-top: 87px;
  .about-us-img {
    .card-img {
      height: 453px;
      width: 458px;
      margin-left: auto;
      @extend %imgAsBackGround;
      border-top-right-radius: 110px;
      border-bottom-left-radius: 120px;
      position: relative;
      .about-experince {
        width: 176px;
        height: 181px;
        text-align: center;
        background-color: #fff;
        border-radius: 28px;
        padding-top: 15px;
        position: absolute;
        bottom: -120px;
        left: 0px;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 10%);
        img {
          width: 67px;
          max-height: 80px;
          margin: auto;
        }
        h5 {
          margin: 0;
          color: #239bd5;
          font-size: 20px;
          margin-top: 13px;
          margin-bottom: 4px;
        }
        p {
          margin: 0;
          font-size: 18px;
          color: #9a9a9a;
        }
      }
    }
  }
  .about-us-content {
    h6 {
      color: $mainColor;
      font-size: 22px;
      margin: 0;
      margin-bottom: 31px;
    }
    h5 {
      font-size: 50px;
      margin: 0;
      margin-bottom: 50px;
    }
    p {
      font-size: 20px;
      color: #7a7c89;
      margin-bottom: 50px;
    }
    .btn {
      background-color: $mainColor;
      color: #fff;
      color: #fff;
      border-radius: 26px;
      width: 223px;
      font-size: 20px;
      height: 51px;
      line-height: 40px;
      &:hover {
        background-color: #fff;
        background-position: right;
        color: $mainColor;
        border: 1px solid $mainColor;
      }
    }
  }
}

// faq-content
.faq {
  margin-top: 200px;
  position: relative;
  .faq-content {
    h6 {
      color: $mainColor;
      margin-bottom: 24px;
      font-size: 20px;
    }
    h5 {
      font-size: 42px;
      margin-bottom: 50px;
    }
    .card {
      background-color: #fff;
      box-shadow: 0 10px 50px rgba(0, 0, 0, 10%);
      border: 0;
      margin-bottom: 15px;
      border-radius: 14px;
      .card-header {
        border: 0;
        background-color: transparent;
        padding: 5px;
        .btn-link {
          color: #000;
          font-size: 20px;
          text-decoration: none;
          width: 100%;
          text-align: right;
          position: relative;
          &::after {
            @extend %initlizeFonAwesomeAfter;
            content: "\f055";
            color: $mainColor;
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 18px !important;
          }
        }
      }
      .card-body {
        padding-top: 0;
        font-size: 12px;
        color: #9a9a9a;
      }
      .card-header {
        .btn-link[aria-expanded="true"] {
          &::after {
            content: "\f056";
          }
        }
      }
    }
  }
  .faq-img {
    position: absolute;
    left: -90px;
    img {
      width: 477px;
      margin-right: auto;
      max-height: 540px;
      border-top-right-radius: 110px;
      border-bottom-left-radius: 120px;
    }
  }
}

// blogs
.blogs {
  margin-top: 113px;
  .section-header {
    text-align: center;
    margin-bottom: 80px;
    h6 {
      font-size: 20px;
      color: $mainColor;
      margin: 0;
    }
    h5 {
      font-size: 42px;
      margin: 0;
      margin-top: 28px;
    }
  }
  .blogs-cards {
    .card {
      background-color: #fff;
      border-top-right-radius: 27px;
      border-bottom-left-radius: 33px;
      box-shadow: 0 10px 50px rgba(0, 0, 0, 5%);
      border: 0;
      .card-img {
        height: 338px;
        @extend %imgAsBackGround;
        border-top-right-radius: 27px;
        border-bottom-left-radius: 33px;
        transition: all 0.5s ease;
      }
      .card-body {
        padding-top: 0;
        padding-right: 10px;
      }
      .card-title {
        font-size: 18px;
        margin: 0;
        margin-top: 19px;
        margin-bottom: 11px;
        color: #000;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease;
      }
      .card-text {
        font-size: 13px;
        margin: 0;
        color: #7a7c89;
      }
      .card-link {
        margin-top: 16px;
        font-size: 12px;
        color: $mainColor;
        display: inline-block;
      }
      &:hover {
        .card-title {
          color: $mainColor;
        }
        .card-img {
          border-radius: 0;
        }
      }
    }
  }
}

// sma-team
.sma-team {
  margin-top: 113px;
  position: relative;
  .section-header {
    margin-bottom: 60px;
    h6 {
      font-size: 20px;
      color: $mainColor;
      margin: 0;
    }
    h5 {
      font-size: 42px;
      margin: 0;
      margin-top: 28px;
    }
  }
  .sma-team-slider {
    position: relative;
    z-index: 9;
    .slider-item {
      // margin: 10px;
      img {
        height: 420px;
        border-radius: 41px;
        width: 275px;
        margin: auto;
      }
      &:focus {
        outline: 0 !important;
      }
    }
    .slick-prev {
      left: 0px;
      z-index: 9;
      &::before {
        content: "\f104";
        @extend %initlizeFonAwesomeAfter;
        width: 75px !important;
        height: 75px !important;
        display: inline-block;
        background-color: $mainColor;
        z-index: 9 !important;
        line-height: 75px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-size: 20px !important;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
    .slick-next {
      right: -60px;
      // text-align: center;
      // z-index: 9;
      &::before {
        content: "\f105";
        @extend %initlizeFonAwesomeAfter;
        width: 75px !important;
        height: 75px !important;
        display: inline-block;
        background-color: $mainColor;
        z-index: 9 !important;
        line-height: 75px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-size: 20px !important;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
    .slick-slide {
      &.slick-current,
      &.slick-center {
        position: relative;
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
        &::after {
          content: "";
          background-image: linear-gradient(
            to bottom,
            rgba(69, 195, 210, 0%),
            rgba(69, 195, 210, 30%),
            rgba(69, 195, 210, 40%)
          );
          width: 275px;
          height: 100%;
          border-radius: 41px;
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          top: 0;
        }
      }
    }
  }
  &::after {
    content: "";
    background-image: url("../images/sma-team.png");
    position: absolute;
    height: 322px;
    @extend %imgAsBackGround;
    width: 100%;
    bottom: -150px;
  }
}

.all-services {
  // background-color: $mainColor;
  position: relative;
  z-index: 9;
  margin-top: 122px;
  border-bottom-left-radius: 204px;
  .section-header {
    margin-bottom: 88px;
    h5 {
      text-align: center;
      font-size: 42px;
      color: #000;
    }
  }
}

// we-are-in
.we-are-in {
  margin-top: 230px;
  .section-header {
    margin-bottom: 80px;
    h6 {
      font-size: 20px;
      color: $mainColor;
      margin: 0;
    }
    h5 {
      font-size: 42px;
      margin: 0;
      margin-top: 28px;
    }
  }
  .places {
    table {
      .country {
        h5 {
          font-size: 22px;
          width: 70%;
        }
      }
      .cities {
        span {
          color: #7a7c89;
          font-size: 18px;
          margin-left: 20px;
        }
      }
    }
  }
  .we-are-in-img {
    position: absolute;
    left: -90px;
    img {
      width: 477px;
      margin-right: auto;
      max-height: 540px;
      border-top-right-radius: 110px;
      border-bottom-left-radius: 120px;
    }
  }
}

// contact
.contact-parent {
  overflow: hidden;
  height: 1000px;
  padding-top: 150px;
  // border: 1px solid #000;
}
.contact {
  background-color: #dcf4ff;
  height: 960px;
  padding: 46px 51px;
  border-radius: 14px;
  position: relative;
  // overflow-x: hidden;
  .contact-form {
    h5 {
      font-size: 30px;
      margin-bottom: 45px;
      color: $mainColor;
    }
    .form-group {
      margin-bottom: 20px;
      .form-control {
        height: 61px;
        border: 0;
        border-radius: 9px;
        position: relative;
        z-index: 999;
        &::placeholder {
          font-size: 14px;
          color: #c8c8c8;
        }
      }
      textarea {
        height: 179px !important;
      }
    }
  }
  .contact-img {
    position: absolute;
    left: -250px;
    top: 60px;
    img {
      max-width: 1122px !important;
      width: 1122px !important;
      height: 748px;
      // margin: auto;
    }
  }
  .btn-submit {
    .btn {
      width: 159px;
      height: 61px;
      background-color: $mainColor;
      color: #fff;
      &:hover {
        color: $mainColor;
        background-color: #fff;
        border: 1px solid $mainColor;
      }
    }
  }
}

footer {
  background-image: linear-gradient(
    to top,
    rgba(234, 239, 255, 100%),
    rgba(255, 255, 255, 100%)
  );
  margin-top: 80px;
  padding-top: 55px;
  padding-bottom: 34px;
  .footer-logo {
    img {
      width: 94px;
      height: 48px;
    }
    p {
      font-size: 14px;
      color: #7a7c89;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      margin-left: 25px;
      .fa-facebook-f {
        color: #0055e0;
      }
      .fa-instagram {
        color: #8a04d4;
      }
      .fa-twitter {
        color: #45c3d2;
      }
      .fa-linkedin-in {
        color: #0077b5;
      }
    }
  }
  .info {
    h5 {
      font-size: 17px;
      margin-bottom: 30px;
    }
    ul {
      li {
        margin-bottom: 17px;
        a {
          font-size: 14px;
          color: #7a7c89;
        }
      }
    }
  }
  .footer-contact {
    li {
      padding-right: 30px;
      span {
        font-size: 13px;
        color: #7a7c89;
      }
      position: relative;
    }
    img {
      width: auto;
      height: auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

// copy
.copy {
  background-color: $mainColor;
  padding: 20px;
  padding-right: 0;
  padding-left: 0;
  // height: 91px;
  // line-height: 90px;
  .copy-content {
    text-align: right;
    color: #ffff;
    span {
      color: #ffff;
      font-size: 17px;
    }
  }
  .copy-links{
    text-align: left;
    a{
      color: #fff;
      &::after{
        content: " - ";
      }
      &:last-child{
        &::after{
          content: "";
        }
      }
    }
  }
}

.path {
  text-align: right;
  background-color: #ddd;
  padding: 20px;

  span {
    &::before {
      font-family: "Font Awesome 5 Free";
      // position: absolute;
      margin-left: 6px;
      margin-right: 6px;
      content: "\f104";
      font-weight: 900;
      font-size: 13px;
    }
  }

  .first {
    &::before {
      content: "" !important;
    }
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 13px;

    &:hover {
      color: $mainColor;
    }
  }
}

.services-page {
  .serv-head {
    text-align: center;
    font-size: 42px;
    margin: 0;
    margin-top: 58px;
    margin-bottom: 38px;
  }
  .slider-item{
    margin: 10px;
    &:focus{
      outline: 0 !important;
    }
  }
  .card-serv {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 6px 22px rgb(0 0 0 / 10%);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
    .card-img{
      height: 150px;
      background-position: center;
      background-size: cover;
    }
    .card-title {
      margin: 0;
      font-size: 20px;
      color: $mainColor;
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 3px 15px rgb(0 0 0 / 5%);
      .card-icon {
        background-color: #36393f;
      }
    }
  }
  .categor{
    .slick-dots {
      text-align: center;
      position: absolute;
      bottom: -30px;
      li {
        width: 10px !important;
        height: 3px;
        button {
          width: 15px !important;
          height: 3px !important;
          background-color: $mainColor;
          border-radius: 5px;
          padding: 0;
          &::before {
            content: none !important;
          }
        }
      }
  
      .slick-active {
        button {
          background-color: #000;
  
          &::before {
            content: none !important;
          }
        }
      }
    }
  }
  .categor{
    margin-bottom: 150px !important;
    .serv-head{
      margin-bottom: 10px;
    }
    .serv-par{
      text-align: center;
      color: #888;

    }
    .slick-prev {
      left: 0px;
      z-index: 9;
      &::before {
        content: "\f104";
        @extend %initlizeFonAwesomeAfter;
        width: 45px !important;
        height: 45px !important;
        display: inline-block;
        background-color: $mainColor;
        z-index: 9 !important;
        line-height: 45px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-size: 20px !important;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
    .slick-next {
      right: -10px;
      // text-align: center;
      // z-index: 9;
      &::before {
        content: "\f105";
        @extend %initlizeFonAwesomeAfter;
        width: 45px !important;
        height: 45px !important;
        display: inline-block;
        background-color: $mainColor;
        z-index: 9 !important;
        line-height: 45px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-size: 20px !important;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.serv-details {
  .card {
    margin-bottom: 20px;
  }
  .card-space {
    height: 300px;
    background-color: #36393f;
    text-align: center;
    color: #fff;
    border: 0;
    h5 {
      line-height: 300px;
    }
  }
  .card-disscount {
    height: 300px;
    background-color: $mainColor;
    text-align: center;
    color: #fff;
    border: 0;
    h5 {
      line-height: 300px;
    }
  }
}

// navabr-dashboard
.navbar-dashboard {
  padding: 10px;
  position: relative;
  background-color: transparent;
  z-index: 9999;
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    .dropdown {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @extend %imgAsBackGround;
      }
      .dropdown-menu {
        right: auto;
        // transform: none !important;
        // top: 50px !important;
        // z-index: 9999 !important;
      }
    }
  }
  .dropdown-toggle::after {
    color: #fff;
  }
}

.side-mobile-dashboard {
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;
  .navbar-nav {
    .nav-item {
      margin-left: 10px;
      padding: 12px;
      i {
        color: #fff;
      }
      .nav-link {
        color: #fff;
        display: inline-block;
        padding: 0;
      }
      &:hover {
        background-color: rgba(86, 125, 167, 0.3);
        border-radius: 20px;
      }
    }
    .active {
      background-color: rgba(86, 125, 167, 0.3);
      border-radius: 20px;
    }
  }
}

.text-editor-content {
  height: 570px;
  overflow: auto;
  .tox-tinymce {
    border-radius: 10px;
  }
  input[type="text"] {
    height: 50px;
    margin-bottom: 20px;
  }
}

.main-dasboard {
  .side-bar {
    height: 570px;
    background-color: #262b40;
    border-radius: 10px;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 20%);
    padding: 30px;
    padding-top: 30px;
    .sidebar-logo {
      text-align: center;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      margin-bottom: 20px;
      img {
        width: 94px;
        max-height: 48px;
        margin: auto;
      }
    }
    .side-bar-links {
      ul {
        li {
          margin-top: 20px;
          font-size: 17px;
          padding: 10px;
          i {
            color: #fff;
          }
          a {
            color: #fff;
            margin-right: 5px;
            text-decoration: none;
          }
          &:hover {
            background-color: rgba(86, 125, 167, 0.3);
            border-radius: 20px;
          }
        }
        .active {
          background-color: rgba(86, 125, 167, 0.3);
          border-radius: 20px;
        }
      }
    }
  }
  .dasboard-content {
    height: 570px;
    overflow-y: auto;
    .dasboard-statics {
      .card {
        text-align: center;
        padding: 20px;
        background-color: #27293d;
        color: #fff;
        box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
        margin-bottom: 10px;
      }
      .card-icon {
        font-size: 30px;
      }
      .card-number {
        font-size: 35px;
        margin: 0;
        margin: 5px 0 5px 0;
      }
      .card-title {
        font-size: 20px;
      }
    }
  }
  .dashboard-order-table {
    margin-top: 20px;
    h5 {
      color: #fff;
    }
    .table {
      color: #fff;
      font-weight: normal !important;
      // box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
      background-color: #27293d;
    }
  }
}

.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  font-weight: normal;
}

#delete-user,
#delete-blog {
  .modal-body {
    text-align: center;
    i {
      font-size: 25px;
      color: #ddd;
    }
    h5 {
      color: #262b40;
      margin-top: 10px;
    }
    .btn {
      background-color: $mainColor;
      color: #fff;
    }
  }
}

.blog-details {
  margin-top: 58px;
  .blog-details-content {
    .blog-details-content-header {
      font-size: 28px;
      line-height: 35px;
    }
    .date {
      font-size: 16px;
    }
    .blog-details-content-img {
      margin-top: 18px;
    }
    .blog-details-content-par {
      margin-top: 45px;
      p {
        line-height: 30px;
        color: #707070;
        font-size: 16px;
      }
    }
    .gallery {
      margin-top: 45px;
      .card-img {
        height: 175px;
        @extend %imgAsBackGround;
        margin-bottom: 20px;
        position: relative;
        .overlay {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(237, 102, 99, 0);
          opacity: 0;

          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 15px;
          }
        }
        &:hover .overlay {
          background-color: rgba(69, 195, 210, 0.8);
          opacity: 1;
        }
      }
    }
    .words {
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      margin-top: 45px;
      padding-top: 20px;
      padding-bottom: 20px;
      ul {
        li {
          display: inline-block;
          background-color: #f8f8f8;
          border: 1px solid #d8d8d8;
          padding: 8px;
          font-size: 14px;
          border-radius: 5px;
          a {
            color: #707070;
            text-decoration: none;
          }
          &:hover {
            // background-color: $secondColor;
            a {
              color: #fff;
            }
          }
        }
      }
      .social {
        text-align: left;
        a {
          i {
            width: 29px;
            height: 29px;
            line-height: 29px;
            text-align: center;
            border: 1px solid #888;
            border-radius: 50%;
            color: #707070;
            transition: all 0.2s ease;
            background-color: #fff;
            margin: 5px;
            font-size: 13px;
          }
          &:hover {
            i {
              // background-color: $secondColor;
              // border: 1px solid $secondColor;
              color: #fff;
            }
          }
        }
      }
    }
    .blogs {
      margin-top: 30px;
      .can-see {
        color: $mainColor;
        margin-bottom: 20px;
      }
    }
  }
  .blogs {
    .blogs-cards {
      .blogs-sidebar-header {
        font-size: 30px;
      }
      .card {
        margin-bottom: 20px;
        .card-img {
          height: 200px;
        }
      }
    }
  }
  .key-words {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    a {
      display: inline-block;
      // width: 100px;
      border-radius: 5px;
      padding: 6px;
      font-size: 15px;
      text-align: center;
      color: #a1a1a1;
      border: 1px solid #ddd;
      margin: 5px;
      transition: all 0.5s ease;
      text-decoration: none;
      &:hover {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        color: #fff;
      }
    }
  }
}

.login-admin {
  background-color: #36393f;
  width: 50%;
  margin: auto;
  margin-top: 140px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
  .form-control {
    height: 50px;
  }
  h5,
  p {
    color: #fff;
  }
  .btn {
    background-color: #7289da;
    width: 200px;
    color: #fff;
    &:hover {
      background-color: #677bc4;
    }
  }
  // .reset-password{
  //   text-align: right;
  //   margin-top: 25px;
  //   p{
  //     font-size: 15px;
  //     a{
  //       color: #7289da;
  //     }
  //   }
  // }
}

@media (max-width: 1024px) {
  .header {
    margin-top: 100px;
    .header-content {
      h5 {
        font-size: 35px;
      }
      p {
        width: 100%;
      }
    }
    .header-img {
      margin-top: -50px;
    }
  }
  .we-are-in {
    .we-are-in-img {
      position: unset;
    }
  }
  .faq .faq-img {
    position: unset;
  }
  .sma-team .sma-team-slider .slick-next {
    right: -43px;
  }
  .sma-team .sma-team-slider .slick-prev {
    left: 20px;
  }
}

@media (max-width: 800px) {
  .navbar {
    .navbar-brand {
      position: relative;
      z-index: 3;
    }
    .navbar-nav {
      position: relative;
      z-index: 9;
      text-align: center;
      .nav-item {
        margin-right: 0;
      }
      .nav-item:last-child {
        position: unset;
      }
    }
  }
  .header {
    margin-top: 60px;
    .header-content {
      h5 {
        font-size: 35px;
      }
      p {
        width: 100%;
      }
    }
    .header-img {
      margin-top: 0;
    }
  }
  .services {
    .section-header {
      h5 {
        width: 100%;
      }
    }
  }
  .about-us {
    .about-us-img {
      .card-img {
        width: 100%;
      }
    }
  }
  .faq {
    .faq-img {
      display: none;
    }
  }
  .sma-team {
    .sma-team-slider {
      img {
        // width: 100%;
      }
      .slick-next {
        right: -22px;
      }
      .slick-prev {
        left: 22px;
      }
    }
  }
  .all-services {
    .serv {
      margin-top: 30px;
    }
  }
  .contact-parent {
    height: auto;
    .contact {
      .contact-img {
        display: none;
      }
    }
  }
  .we-are-in {
    .we-are-in-img {
      position: unset;
    }
  }
  .header .circle-1 {
    display: none !important;
  }
  .pagination {
    position: unset;
    transform: none;
  }
  .login-admin {
    width: 90%;
  }
}

@media (max-width: 524px) {
  .circle-1 {
    display: none;
  }
  .circle-2 {
    display: none;
  }
  .header {
    text-align: center;
    .header-img {
      display: none;
    }
  }
  .services {
    margin-top: 130px;
  }
  .about-us {
    .about-us-img {
      .card-img {
        width: 100%;
      }
    }
    .about-us-content {
      margin-top: 80px;
    }
  }
  .faq {
    .faq-content {
      .card {
        .btn-link {
          font-size: 18px !important;
        }
      }
    }
  }
  .we-are-in {
    .places {
      .cities {
        span {
          font-size: 16px !important;
          margin-left: 4px !important;
        }
      }
    }
    .we-are-in-img {
      position: unset;
    }
  }
  .contact {
    padding: 46px 19px;
  }

  .sma-team-slider {
    img {
      // width: 100%;
    }
    .slick-next {
      right: 0px !important;
    }
    .slick-prev {
      left: 55px !important;
    }
  }

  .side-bar {
    display: none;
  }
  .side-mobile-dashboard {
    display: block;
  }
  .login-admin {
    width: 100%;
  }
  .copy{
    .copy-content{
      text-align: center;
    }
    .copy-links{
      text-align: center;
      margin-top: 10px;
    }
  }
}

%imgAsBackGround {
  background-size: cover;
  background-position: center;
}

%setItemInTheCenter {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%initlizeFonAwesomeAfter {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
}

%headerArrows {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $mainColor;
}

// select2
.select2-container {
  height: 50px;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  border: 1px solid #ced4da;
  background-color: #f5f5f5;
  &:focus {
    outline: 0;
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  line-height: 50px;
  height: 50px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 50px;
}

.when-login-view {
  .btn {
    background-color: #5dcc64;
    border-radius: 0;
    border: 1px solid #5dcc64;
    &:focus {
      box-shadow: none !important;
      outline: 0;
    }
  }
  .dropdown-item {
    font-size: 15px;
    color: #969696;
    i {
      font-size: 14px;
      color: $mainColor;
      margin-left: 5px;
    }
  }
}

.add-new-serv-form {
  width: 50%;
}

.all-services {
  .section-header {
    margin-bottom: 40px;
  }
}

.sma-services {
  .slider-item {
    margin: 10px;
    margin-bottom: 50px;
    &:focus {
      outline: 0 !important;
    }
  }
  .card {
    display: block;
    text-align: center;
    padding: 5px;
    position: relative;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 1px solid #fff;
    // height: 80px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: center;
    .card-title {
      margin: 0;
      color: #000;
      text-decoration: none;
      position: relative;
      z-index: 5;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &:hover {
      transform: translateY(-5px);
      background-color: $mainColor;
      border: 1px solid $mainColor;
      .card-title {
        color: #fff;
      }
    }
    .card-link {
      position: absolute;
      bottom: 12px;
      left: 15px;
      color: $mainColor;
      font-size: 20px;
    }
    .card-img {
      height: 150px;
      background-size: cover;
      background-position: center;
    }
    &:focus {
      outline: 0 !important;
    }
  }
  .slick-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    li {
      width: 10px !important;

      button {
        width: 5px !important;
        height: 5px !important;
        background-color: $mainColor;
        border-radius: 50%;

        &::before {
          content: none !important;
        }
      }
    }

    .slick-active {
      button {
        background-color: #000;

        &::before {
          content: none !important;
        }
      }
    }
  }
  .slick-prev {
    left: 20px;
    z-index: 9;
    &::before {
      content: "\f104";
      @extend %initlizeFonAwesomeAfter;
      width: 35px !important;
      height: 35px !important;
      display: inline-block;
      background-color: $mainColor;
      z-index: 9 !important;
      line-height: 35px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  .slick-next {
    // text-align: center;
    // z-index: 9;
    right: 0;
    &::before {
      content: "\f105";
      @extend %initlizeFonAwesomeAfter;
      width: 35px !important;
      height: 35px !important;
      display: inline-block;
      background-color: $mainColor;
      z-index: 9 !important;
      line-height: 35px;
      font-size: 20px;
      text-align: center;
      color: #fff;
      font-size: 20px !important;
      border-radius: 50%;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  .slick-slide {
    &.slick-current,
    &.slick-center {
      .card {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        transform: translateY(-5px);
        .card-title {
          color: #fff;
        }
      }
    }
  }
}

#floating {
  position: fixed;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: $mainColor;
  opacity: 0;
  transition: all 0.5s;
  i {
    color: #fff;
  }
}

#fixed-social{
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 30px;
  a{
    display: block;
    font-size: 35px;
    margin-bottom: 10px;
  }
  .fa-whatsapp{
    color: #00E676;
  }
  .fa-facebook-messenger{
    color: #448AFF;
  }
  .fa-phone-alt{
    color: #F9556D;
  }
}

@media (max-width: 800px) {
  .add-new-serv-form {
    width: 100%;
  }
}
