{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-ar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <link href="https://prayertimes.date/css/widget.api.v1.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

<!-- top-header -->
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="logo">
                    <!-- <img src="./assets/images/logo.png" alt=""> -->
                    <h5 style="color: red;">الوسيط الدولي</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <a href="" class="spaces">
                    <img src="{{photo1.img.url}}" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <a href="" class="spaces">
                    <img src="{{photo2.img.url}}" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="date-time">
            <span id="date">
              <i class="far fa-calendar-alt"></i>
            </span>
                    <!-- <span class="datetime playsound">
                      <i class="far fa-clock"></i>
                      <span>11:02:34 PM</span><br>
                    </span> -->
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">

                {% if user.is_authenticated%}
                <div class="dashboard">
                    <a href="{% url 'show-news' 1 %}" type="button">
                        <i class="fas fa-edit"></i>
                        <span>لوحه التحكم</span>
                    </a>
                </div>
                <div class="logout">
                    <a href="{% url 'logout' %}" type="button">
                        <i class="fas fa-user"></i>
                        <span>تسجيل خروج</span>
                    </a>
                </div>
                {% else %}
                <div class="sign-in-sign-up">
                    <a class="sign-in" type="button" data-toggle="modal" data-target="#signin">
                        <i class="fas fa-user"></i>
                        <span href="">تسجيل الدخول</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">الرئيسية</a>
                </li>
                {% for category in categories %}
                {% if not category.child.all %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_category' category.pk 1 %}">{{category.name}}</a>
                </li>

                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'news_category' category.pk 1 %}"
                       id="navbarDropdown"
                       role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{category.name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subcategory in category.child.all %}
                        {% if not subcategory.child.all %}
                        <li><a class="dropdown-item" href="{% url 'news_category' subcategory.pk 1 %}">{{subcategory.name}}</a>
                        </li>
                        {% else %}
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="{% url 'news_category' subcategory.pk 1 %}">{{subcategory.name}}</a>
                            <ul class="dropdown-menu">
                                {% for sscat in subcategory.child.all %}
                                <li><a class="dropdown-item"
                                       href="{% url 'news_category' sscat.pk 1 %}">{{sscat.name}}</a></li>
                                {%endfor%}
                            </ul>
                        </li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}


            </ul>
        </div>
    </div>
</nav>


<!-- social & search -->
<div class="social-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-google-plus"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="" class="spaces">
                    <img src="{{photo3.img.url}}" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <form method="GET" action="{% url 'search-news' 1 %}">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" name="search" placeholder="ابحث هنا"
                               aria-label="Recipient's username"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block contain %}
{% endblock %}
<!-- start footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="important-links an-links">
                    <!-- <h5>أقسام الموقع</h5> -->
                    <ul class="list-unstyled">
                        <li><a href="#">الرئيسية</a></li>
                        <li><a href="#">محليات</a></li>
                        <li><a href="#">عرب وعالم</a></li>
                        <li><a href="#">محافظات</a></li>
                        <li><a href="#">حوادث وتحقسقات</a></li>
                        <li><a href="">سياسة واقتصاد</a></li>
                        <li><a href="">رياضة</a></li>
                        <li><a href="">ثقافة وفنون</a></li>
                        <li><a href="">منوعات</a></li>
                        <li><a href="">عقارات وسيارات</a></li>
                        <li><a href="">مواهب وهوايات</a></li>
                        <li><a href="">صوت وصورة</a></li>
                        <li><a href="">ناس ومجتمع</a></li>
                        <li><a href="">دعاية واعلان</a></li>
                        <!-- <li><a href="">المزيد</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="logo mt-3">
                    <img src="{% static 'assets/images/logo.png' %}" alt="">
                    <p>
                        الأستاذ هى جريدة ورقية وإلكترونية ، تأسست عام 2010 ، متخصصة فى نشر الموضوعات التحريرية المتنوعة
                        فى كافة
                        المجالات وكذلك الإعلانات والخدمات المجانية التى تخدم القارىء والمعلن وكل أفراد الأسرة العربية ،
                        تصدر
                        أسبوعيا ، تقوم بتوزيعها داخل مصر " جريدة الجمهورية " وخارج مصر " الشركة القومية للتوزيع " تعمل
                        وفق ميثاق
                        الشرف الصحفى ، بلا انتماءات سياسية أو حزبية أو انحيازات عقائدية أو مذهبية أو طائفية وهى بمثابة
                        دليل
                        استرشادى فى كافة الموضوعات التى تخدم الفرد والمجتمع العربى ، كما تهدف إلى توفير خدمة فعالة
                        متبادلة بين
                        عملائها وقرائها وتطمح إلى توسيع مساحة نشاطها لتصل إلى كافة الدول
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- <div class="about-site">
                  <h5>حمل التطبيق</h5>
                  <a href="">
                    <img src="./assets/images/play.png" alt="">
                  </a>
                  <a href="">
                    <img src="./assets/images/apple.png" alt="">
                  </a>
                </div> -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="important-links">
                    <h5>روابط</h5>
                    <ul class="list-unstyled">
                        <li><a href="">اتصل بنا</a></li>
                        <li><a href="#">اتصل بنا</a></li>
                        <li><a href="">كيف تصل الينا</a></li>
                        <li><a href="">اعلن معنا</a></li>
                        <li><a href="#">شروط الاستخدام</a></li>
                        <li><a href="#">سياية الخصوصية</a></li>
                        <li><a href="">ارسل خبرا</a></li>
                        <li><a href="">انشر صورك</a></li>
                        <li><a href="">تابع أخرالأخبار عبر الاشتراك بالجريدة الإلكترونية </a></li>
                        <li><a href="">اشترك في خدمة الواتساب</a></li>
                        <li><a href="">اشترك فى النشرة الإخبارية </a></li>
                        <li><a href="">امسح الكود وحمل التطبيق </a></li>
                        <li><a href="#">عن الموقع</a></li>
                        <li><a href="#">خدمة الرسائل</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="about-site text-right">
                    <span>حمل التطبيق</span>
                    <a href="">
                        <img src="{% static 'assets/images/play.png' %}" alt="">
                    </a>
                    <a href="">
                        <img src="{% static 'assets/images/apple.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-google-plus"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="copy">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="copy-content">
                        <h5>جميع الحقوق محفوظة لموقع جريدة الأستاذ &copy;</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="copy-develop">
                        <h5>تصميم وتطوير قسم تقنية المعلومات </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->


<!-- sign in modal -->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تسجيل الدخول</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">البريد الالكترونى</label>
                        <input type="email" name="email" id="" class="form-control" placeholder="البريد الالكترونى">
                    </div>
                    <div class="form-group">
                        <label for="username">كلمة المرور</label>
                        <input type="password" name="password" id="" class="form-control" placeholder="كلمة المرور">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block">الدخول</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="https://prayertimes.date/js/widget.api.v1.min.js"></script>
<script src="{% static 'assets/js/simplemarquee.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script>
    function httpAjax(url, mFunction) { var xhttp = new XMLHttpRequest(); xhttp.onreadystatechange = function () { if (this.readyState == 4 && this.status == 200) { mFunction(JSON.parse(this.responseText)) } }; xhttp.open("GET", url, true); xhttp.send() } function changeCountry() { var c_value = document.getElementById("cid").value; httpAjax('//timesprayer.com/ajax.php?do=loadCities&language=ar&cid=' + c_value, function (result) { if (result.status == 1) { document.getElementById("ciid").innerHTML = result.msg } }) } function changecity() { var ci_value = document.getElementById("ciid").value; var thisurl = window.location.href; var newUrl = thisurl.replace("name=assiut", "name=" + ci_value); window.location.href = newUrl } var city_offset = "2"; var reminingtime = 17066000; var soundfile = "fajer"; var douration_sound = "280"; var clean_url = 'timesprayer.com';






</script>
<script src="{% static 'assets/js/timerprayer.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) { i.GoogleAnalyticsObject = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-51636779-1', 'timesprayer.com'); ga('send', 'pageview');






</script>
{% block javascript %}
{% endblock javascript %}
</body>

</html>
