{% extends 'base.html' %}
{% load static %}
{% block title%}الوسيط الدولي{% endblock title%}
{% block contain %}
<div id='HLvD'>
    <div id='Marqs' class="marqueed WAITcss">
        {% for note in notes%}
        <a {%if note.link %} href='{{note.link}}' {% endif %} title="{{note.title}}">{{note.title}}</a>
        {% endfor %}
    </div>
</div>


<div class="main">
    <div class="container-fluid">
        <div class="manager">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="" class="spaces">
                        <img src="{{photo4.img.url}}" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="" class="spaces">
                        <img src="{{photo5.img.url}}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-10">
                <div class="content">
                    <div class="slider-news">
                        <div class="section-header">احدث الأخبار</div>
                        <div id="my-courcle" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for news in latest_news%}
                                {% if forloop.counter0 == 0%}
                                <li data-target="#my-courcle" data-slide-to="{{forloop.counter0}}" class="active"></li>
                                {%else%}
                                <li data-target="#my-courcle" data-slide-to="{{forloop.counter0}}"></li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for news in latest_news%}
                                {% if forloop.counter0 == 0%}
                                <div class="carousel-item active" style="background-image: url({{news.img.url}});">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>{{news.title}}</p>
                                    </div>
                                </div>
                                {%else%}
                                <div class="carousel-item" style="background-image: url({{news.img.url}});">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>{{news.title}}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <a class="carousel-control-prev" href="#my-courcle" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#my-courcle" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%if breaking_news0%}
                    <div class="urgently mt-3">
                        <h5 class="section-header">
                            اخبار عاجلة
                        </h5>
                        <div class="urgently-slider" dir="ltr">
                            <div class="slider-item">
                                <div class="row">
                                    {%for news in breaking_news0%}
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <a href="{% url 'news_details' news.pk%}" class="card new-card-of-main-section">
                                            <div class="card-img"><img src="{% static 'assets/images/galley-1.jpg' %}"
                                                                       alt=""></div>
                                            <h5 class="card-title">{{news.title}}</h5>
                                            <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if breaking_news1%}
                            <div class="slider-item">
                                <div class="row">
                                    {%for news in breaking_news1%}
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <a href="{% url 'news_details' news.pk%}" class="card new-card-of-main-section">
                                            <div class="card-img"><img src="{% static 'assets/images/galley-1.jpg' %}"
                                                                       alt=""></div>
                                            <h5 class="card-title">{{news.title}}</h5>
                                            <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="main-section-all">
                                {% for category in categories %}
                                {% if category.all_news%}
                                <div class="main-section-news">
                                    <h5 class="section-header"> {{category.name}}
                                        <a href="{% url 'news_category' category.pk 1 %}" class="more">المزيد</a>
                                    </h5>
                                    <div class="row">

                                        {% for news in category.all_news%}
                                        <div class="col-sm-12 col-md-6 col-lg-4">
                                            <a href="{% url 'news_details' news.pk%}"
                                               class="card new-card-of-main-section">
                                                <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                                <h5 class="card-title">{{news.title}}</h5>
                                                <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                            </a>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            {% if books1%}
                            <div class="books-article">
                                <div class="section-header">كتب ومقالات
                                    <a href="{% url 'books' 1%}" class="more">المزيد</a>
                                </div>
                                <div class="books-slider" dir="ltr">
                                    <div class="slider-item">
                                        {% for news in books1%}
                                        <div class="card-books">
                                            <div class="card-img"
                                                 style="background-image: url('{{news.img.url}}');"></div>
                                            <div class="card-body">
                                                <a href="{% url 'news_details' news.pk %}" class="card-title">{{news.title}}</a>
                                                <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="slider-item">
                                        {% for news in books2%}
                                        <div class="card-books">
                                            <div class="card-img"
                                                 style="background-image: url('{{news.img.url}}');"></div>
                                            <div class="card-body">
                                                <a href="{% url 'news_details' news.pk %}" class="card-title">{{news.title}}</a>
                                                <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if videos %}
                            <div class="gallery video">
                                <div class="section-header">الفيديو
                                    <a href="{% url 'videos' 1 %}" class="more">المزيد</a>
                                </div>
                                <div class="row mt-3">
                                    {% for video in videos %}
                                    <div class="col-6 col-md-6 col-lg-12">
                                        <iframe width="100%" height="215"
                                                src="{{video.link}}"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if cartons %}
                            <div class="gallery">
                                <div class="section-header"> رسوم وكاريكاتير
                                    <a href="{% url 'cartons' 1 %}" class="more">المزيد</a>
                                </div>
                                <div class="row">
                                    {%for carton in cartons%}
                                    <div class="col-6 col-md-6 col-lg-6">
                                        <a href="{% url 'carton_details' carton.pk %}">
                                            <img src="{{carton.img.url}}" alt="">
                                        </a>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            {% endif %}
                            {% if tvs %}
                            <div class="alostaz-tv mt-4">
                                <div class="section-header">تلفزيون الاستاذ
                                    <!-- <a href="" class="more">المزيد</a> -->
                                </div>
                                <div class="row mt-3">
                                    {% for tv in tvs %}
                                    <div class="col-6 col-md-6 col-lg-12">
                                        <iframe width="100%" height="215"
                                                src="{{tv.link}}"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if audios %}
                            <div class="alostaz-radio mt-4">
                                <div class="section-header">راديو الاستاذ
                                    <!--                    <a href="https://www.youtube.com/" class="more">المزيد</a>-->
                                </div>
                                <div class="row mt-3">
                                    {% for audio in audios %}
                                    <div class="col-6 col-md-6 col-lg-12">
                                        <iframe width="100%" height="215"
                                                src="{{audio.link}}"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if images %}
                            <div class="gallery alostaz-tv mt-4">
                                <div class="section-header">صور الاستاذ
                                    <a href="" class="more">المزيد</a>
                                </div>
                                <div class="row">
                                    {% for img in images%}
                                    <div class="col-6 col-md-6 col-lg-6">
                                        <a href="">
                                            <img src="{{img.img.url}}" alt="">
                                        </a>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            {% endif %}
                            <div class="most-read last-news mt-3">
                                <h5 class="section-header">
                                    اخر الاخبار
                                    <a href="{% url 'last-news' 1%}" class="more">المزيد</a>
                                </h5>
                                <div class="card-news-img-right">
                                    {% for news in breaking_news0%}
                                    <div class="card">
                                        <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                        <h5 class="card-title">{{news.title}}</h5>
                                        <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if most_read%}
                            <div class="most-read mt-3">
                                <h5 class="section-header">
                                    الاكثر قراءة
                                    <a href="{% url 'most-read' 1%}" class="more">المزيد</a>
                                </h5>
                                <div class="card-news-img-right">
                                    {% for news in most_read%}
                                    <div class="card">
                                        <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                        <h5 class="card-title">{{news.title}}</h5>
                                        <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {%endif%}
                            {% if most_read%}
                            <div class="most-watch mt-3">
                                <h5 class="section-header">
                                    الاكثر مشاهدة
                                    <a href="{% url 'most-read' 1%}" class="more">المزيد</a>
                                </h5>
                                <div class="card-news-img-right">
                                    {% for news in most_read%}
                                    <div class="card">
                                        <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                        <h5 class="card-title">{{news.title}}</h5>
                                        <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {%endif%}
                            <div class="most-comment mt-3">
                                <h5 class="section-header">
                                    الاكثر تعليقا
                                    <a href="{% url 'most-comment' 1%}" class="more">المزيد</a>
                                </h5>
                                <div class="card-news-img-right">
                                    {% for news in more_comments%}
                                    <div class="card">
                                        <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                        <h5 class="card-title">{{news.title}}</h5>
                                        <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="alostaz-serv mt-3">
                                <h5 class="section-header">
                                    خدمات الاستاذ
                                    <a href="" class="more">المزيد</a>
                                </h5>
                            </div>
                            <div class="temprature mt-3">
                                <iframe
                                        src="https://www.meteoblue.com/ar/weather/widget/daily?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=monochrome&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windgust=0&winddirection=0&uv=0&humidity=0&precipitation=0&precipitationprobability=0&spot=0&pressure=0&layout=light"
                                        frameborder="0" scrolling="NO" allowtransparency="true"
                                        sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
                                        style="width: 216px; height: 219px"></iframe>
                                <div>
                                    <a href="https://www.meteoblue.com/ar/weather/week/index?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget"
                                       target="_blank">meteoblue</a>
                                </div>
                            </div>
                            <div class="praer-time">
                                <div id="boxframeprayer">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="currentpray">الفجْر</div>
                                                <div class="city">اسيوط</div>
                                                <div class="country"></div>
                                            </td>
                                            <td>
                                                <div class="thetimes"><span>يتبقى <span id="countdown"
                                                                                        style="font-size:12px;background:none;padding:0;margin:0;">--:--:--</span></span><br><span>موعد
                              الأذان
                              3:47 am</span></div>
                                                <div class="datetime playsound">الأن <span id="timenowinthecity">11:02:34 PM</span><br>الجمعة
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="tbllistprayer">
                                        <tr class="headtdprayer">
                                            <td colspan="3">الصلاة</td>
                                            <td colspan="3">الوقت</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="heightlithcolor">الفجْر</td>
                                            <td colspan="3" class="heightlithcolor">3:47 am</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">الشروق</td>
                                            <td colspan="3">5:19 am</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">الظُّهْر</td>
                                            <td colspan="3">11:54 am</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">العَصر</td>
                                            <td colspan="3">3:26 pm</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">المَغرب</td>
                                            <td colspan="3">6:30 pm</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">العِشاء</td>
                                            <td colspan="3">7:51 pm</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="gold-price mt-3">
                                <iframe width='100%' height='466' id='freshgoldprice'
                                        src='http://egypt.freshgoldprice.com/embed/vgoldprice.aspx?size=f'
                                        frameborder='0'
                                        scrolling='no'></iframe>
                            </div>
                            <div class="cuurency mt-3">
                                <iframe src="https://currencyz.today/embed/?type=table&from=EGP" scrolling="on"
                                        style="height: 500px; width: 100%; border: 0;"></iframe>
                            </div>
                            <div class="boll-subscripe">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-12">
                                        <div class="boll">
                                            <h5 class="section-header">استطلاع الرأي</h5>
                                            {% for survey in surveys%}
                                            <form action="{% url 'make-survey' survey.pk%}" method="POST">
                                                {% csrf_token %}
                                                <h5>{{survey.question}}</h5>
                                                <div class="form-group">
                                                    <input type="radio" name="survey" id="option-yes" value="yes">
                                                    <label for="option-yes">{{survey.first_choice}}</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="radio" name="survey" id="option-no" value="no">
                                                    <label for="option-no">{{survey.second_choice}}</label>
                                                </div>
                                                <button type="submit" class="btn btn-submit">تصويت</button>
                                            </form>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-12">
                                        <div class="subscripe mt-3">
                                            <div class="section-header">اشترك</div>
                                            <h5>اشترك في خدمة الاخبار العاجلة</h5>
                                            <form action="" id="subscriber-form">
                                                {% csrf_token %}
                                                <input type="email" name="email" id="email" class="form-control"
                                                       placeholder="اكتب ايميلك هنا">
                                                <button type="submit" class="btn btn-submit">الاشتراك</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-advert mt-3">
                                <h5 class="section-header">دعاية واعلان</h5>
                                {% for advertising in advertisings%}
                                <div class="card card-adv">
                                    <img src="{{advertising.img.url}}" alt="" height="200">
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                {% for photo in photos%}
                <div class="cards-advert mt-3 spaces">
                    <img src="{{photo.img.url}}" alt="">

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock contain%}


{% block javascript %}
<script>
    $("#subscriber-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post-subscriber' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#comment-form").trigger('reset');
               alert("تمت اضافه المشترك بنجاح");

            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })





</script>
{% endblock javascript %}