{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
أضف كلمه دلاليه
{% endblock title%}
{% block contain %}
<h5>اضف كلمه دلاليه</h5>
<form method="post" action="{% url 'add-tag' %}" style="color:white">
    {% csrf_token %}
    <div class="form-group">
        <label>الكلمه الدلاليه</label>
        <input type="text" name="text" class="form-control" placeholder="الكلمه الدلاليه">
    </div>

    <button type="submit" class="btn btn-success">اضف</button>
</form>
{% endblock contain%}
