{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
الاعلانات
{% endblock title%}
{% block contain %}
<h5>الاعلانات</h5>
<div class="add-new-blog">
    <a href="{% url 'add-advertising'%}" class="btn btn-success mb-2">اضف اعلان</a>
</div>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">العنوان</th>
            <th scope="col">الصوره</th>
            <th scope="col">الخيارات</th>
        </tr>
        </thead>
        <tbody>
        {% for advertising in advertisings %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{advertising.title}}</td>
            <td scope="col"><img src="{{advertising.img.url}}"></td>
            <td>
                <a class="btn btn-sm btn-danger" href="{% url 'delete-advertising' advertising.pk %}">
                    <i class="fas fa-trash"></i></a>
                <a class="btn btn-sm btn-success" href="{% url 'edit-photo' advertising.pk %}">
                    <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    {% if advertisings.has_other_pages %}
    <ul class="pagination">
        {% if advertisings.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'show-all-advertisings'  advertisings.previous_page_number%}"
               aria-label="Previous" style="background-color:#262b40">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for i in advertisings.paginator.page_range %}
        {% if advertisings.number == i %}
        <li class="page-item"><a class="page-link" style="background-color:black" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" style="background-color:#262b40"
                                 href="{% url 'show-all-advertisings'  i %}">
            {{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if advertisings.has_next %}
        <li class="page-item">
            <a class="page-link" style="background-color:#262b40"
               href="{% url 'show-all-advertisings' advertisings.next_page_number%}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock contain%}
