{% extends 'base.html' %}
{% load static %}
{% block title %}
{{category.name}}
{% endblock title%}
{% block contain %}
<div class="newline">
    <div class="container">
        {% if notes%}
        <div class="my-news-slider" dir="ltr">
            {% for note in notes%}
            <div class="slider-item">
                <a {%if note.link %} href='{{note.link}}' {% endif %}>
                    {{note.title}}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>


<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="spaces">
                    {% for photo in photos%}
                    <a href="">
                        <img src="{{photo.img.url}}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="accidents-investigations">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="section-header">{{category.name}}</div>
                            <div class="arab-news card-news-img-right">
                                {% for news in news_list%}
                                <div class="card">
                                    <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                                    <a href="{% url 'news_details' news.pk%}" class="card-title">{{news.title}}</a>
                                    <span class="card-date">{{news.Publish_date.date}}</span>
                                    <p class="card-text">{{news.details|safe|truncatechars:50}}</p>
                                </div>
                                {% endfor %}
                            </div>
                            <nav aria-label="Page navigation example">
                                {% if news_list.has_other_pages %}
                                <ul class="pagination">
                                    {% if news_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{% url 'news_category' category.pk news_list.previous_page_number%}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in news_list.paginator.page_range %}
                                    {% if news_list.number == i %}
                                    <li class="page-item"><a class="page-link" style="background-color:#dee2e6"
                                                             href="#">{{ i }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% url 'news_category' category.pk i %}">{{ i }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if news_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{% url 'news_category' category.pk news_list.next_page_number%}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            {% if most_read%}
                            <div class="">
                                <div class="section-header">الاكثر قراءة</div>
                                {% for news in most_read%}
                                <div class="card card-most-read">
                                    <a href="{% url 'news_details' news.pk%}" class="card-text">{{news.title}}</a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="spaces">
                    {% for advertising in advertisings%}
                    <a href="">
                        <img src="{{advertising.img.url}}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contain%}