{% extends 'base.html' %}
{% load static %}
{% block title%}{{news.title}}{% endblock title%}
{% block contain %}
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="spaces">
            <a href="">
              <img src="./assets/images/ramadan2021.webp" alt="">
            </a>
            <a href="">
              <img src="./assets/images/10198959625171873868.jfif" alt="">
            </a>
            <a href="">
              <img src="./assets/images/abtal2.jpeg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="blog-details">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="blog-details-content">
                  <h5 class="blog-details-content-header">
                    {{news.title}}
                  </h5>
                  <div class="name">
                    <h6>{{news.user.name}}</h6>
                  </div>
                  <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>{{news.Publish_date.date}}</span>
                  </div>

                  <div class="blog-details-content-img">
                    <img src="{{news.img.url}}" alt="">
                  </div>
                  <div class="share">
                    <h6>مشاركة الخبر عبر</h6>
                    <a href="" class="fab fa-facebook"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-facebook-messenger"></a>
                    <a href="" class="fab fa-whatsapp-square"></a>
                  </div>
                  <div class="blog-details-content-par">
                    <p>{{news.details}}</p>
                  </div>
                  {% if tag_news%}
                  <div class="key-words">
                    {% for tag in tag_news%}
                    <a href="{% url 'news_tag' tag.pk 1%}">{{tag.tag.text}}</a>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="leave-comment">
                    <h5 class="section-header">اترك تعليق</h5>
                    <form action="" id="comment-form">
                       {% csrf_token %}
                      <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="">الاسم</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="الاسم">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="">الايميل</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="الايميل">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="form-group">
                            <textarea name="comment" id="comment" rows="3" class="form-control" placeholder="نص التعليق"></textarea>
                          </div>
                        </div>
                      </div>
                      <input type="submit" class="btn btn-danger mb-2 ml-2 section-header" value="تعليق" />
                    </form>
                  </div>
                  {% if comments%}
                  <div class="all-comments">
                    <h5 class="section-header">التعليقات</h5>
                    {% for comment in comments%}
                    <div class="comment-text">

                      <div class="card">
                        <h5 class="card-title">{{comment.text}}</h5>
                        <p class="card-text">{{comment.auther}}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if related_news%}
                  <div class="section-header">الموضوعات المتعلقة</div>
                  <div class="arab-news card-news-img-right">
                    {% for news in related_news%}
                    <div class="card">
                      <div class="card-img"><img src="{{news.img.url}}" alt=""></div>
                      <a href="" class="card-title">{{news.title}}</a>
                      <span class="card-date">{{news.Publish_date}}</span>
                      <p class="card-text">{{news.details}}</p>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="">
                  {% if most_read%}
                  <div class="section-header">الاكثر قراءة</div>
                  {% for news in most_read%}
                  <div class="card card-most-read">
                    <a href="{% url 'news_details' news.pk %}" class="card-text">{{news.title}}</a>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="spaces">
            <a href="">
              <img src="./assets/images/ramadan2021.webp" alt="">
            </a>
            <a href="">
              <img src="./assets/images/10198959625171873868.jfif" alt="">
            </a>
            <a href="">
              <img src="./assets/images/abtal2.jpeg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contain%}

{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#comment-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_comment' news.pk %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#comment-form").trigger('reset');
               alert("تمت اضافه التعليق بنجاح سيتم المراجعه من قبل ادارة الموقع");

            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}