{% extends 'base.html' %}
{% load static %}
{% block contain %}
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="spaces">
            <a href="">
              <img src="./assets/images/ramadan2021.webp" alt="">
            </a>
            <a href="">
              <img src="./assets/images/10198959625171873868.jfif" alt="">
            </a>
            <a href="">
              <img src="./assets/images/abtal2.jpeg" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="blog-details">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="blog-details-content">
                  <h5 class="blog-details-content-header">
                    هذا النص هو مثال لنص يمكن أن يستبدل لقد تم توليد هذا النص من مولد النص العربى
                  </h5>
                  <div class="name">
                    <h6>عمر علي سليمان</h6>
                  </div>
                  <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <span>January 16, 2019</span>
                  </div>

                  <div class="blog-details-content-img">
                    <img src="./assets/images/galley-3.jpg" alt="">
                  </div>
                  <div class="share">
                    <h6>مشاركة الخبر عبر</h6>
                    <a href="" class="fab fa-facebook"></a>
                    <a href="" class="fab fa-twitter"></a>
                    <a href="" class="fab fa-facebook-messenger"></a>
                    <a href="" class="fab fa-whatsapp-square"></a>
                  </div>
                  <div class="blog-details-content-par">
                    <p>
                      هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث
                      يمكنك
                      أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                      إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن
                      يبدو
                      مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل
                      فى
                      كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                      ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص
                      العربى
                      أن
                      يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا
                      يليق.
                      هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو
                      حتى
                      غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً
                    </p>
                    <p>
                      هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث
                      يمكنك
                      أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                      إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن
                      يبدو
                      مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل
                      فى
                      كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                      ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص
                      العربى
                      أن
                      يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا
                      يليق
                    </p>
                  </div>
                  <div class="blog-details-content-par">
                    <p>
                      هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث
                      يمكنك
                      أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                      إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن
                      يبدو
                      مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل
                      فى
                      كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                      ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص
                      العربى
                      أن
                      يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا
                      يليق.
                      هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو
                      حتى
                      غير مفهوم.
                    </p>
                  </div>
                  <div class="key-words">
                    <a href="">كلمات دلالية</a>
                    <a href="">كلمات دلالية</a>
                    <a href="">كلمات </a>
                    <a href=""> دلالية</a>
                    <a href="">كلمة</a>
                    <a href="">كلمة دلالية طويلة</a>
                  </div>
                  <div class="leave-comment">
                    <h5 class="section-header">اترك تعليق</h5>
                    <form action="">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="">الاسم</label>
                            <input type="text" name="" id="" class="form-control" placeholder="الاسم">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="form-group">
                            <label for="">الايميل</label>
                            <input type="email" name="" id="" class="form-control" placeholder="الايميل">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="form-group">
                            <textarea name="" id="" rows="3" class="form-control" placeholder="نص التعليق"></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="all-comments">
                    <h5 class="section-header">التعليقات</h5>
                    <div class="comment-text">
                      <div class="card">
                        <h5 class="card-title">اسم صاحب التعليق</h5>
                        <p class="card-text">نص التعليق يظهر هنا</p>
                      </div>
                    </div>
                  </div>
                  <div class="section-header">الموضوعات المتعلقة</div>
                  <div class="arab-news card-news-img-right">
                    <div class="card">
                      <div class="card-img"><img src="./assets/images/slider-1.jpg" alt=""></div>
                      <a href="" class="card-title">الحكومة الفرنسية تطلق "مجالس عامة للعلمانية" وسياسيون يساريون
                        ينتقدون</a>
                      <span class="card-date">الخميس 22 ابريل</span>
                      <p class="card-text">أعلنت الوزيرة الفرنسية المكلفة بالمواطنة، مارلين شيابا، تنظيم نقاشات
                        حول ما أسمته "مجالس عامة للعلمانية"، تستحضر تجربة "مجالس طبقات الأمة" Etats généraux في
                        مملكة فرنسا قبل ثورة 1789..</p>
                    </div>
                    <div class="card">
                      <div class="card-img"><img src="./assets/images/slider-1.jpg" alt=""></div>
                      <a href="" class="card-title">الحكومة الفرنسية تطلق "مجالس عامة للعلمانية" وسياسيون يساريون
                        ينتقدون</a>
                      <span class="card-date">الخميس 22 ابريل</span>
                      <p class="card-text">أعلنت الوزيرة الفرنسية المكلفة بالمواطنة، مارلين شيابا، تنظيم نقاشات
                        حول ما أسمته "مجالس عامة للعلمانية"، تستحضر تجربة "مجالس طبقات الأمة" Etats généraux في
                        مملكة فرنسا قبل ثورة 1789..</p>
                    </div>
                    <div class="card">
                      <div class="card-img"><img src="./assets/images/slider-1.jpg" alt=""></div>
                      <a href="" class="card-title">الحكومة الفرنسية تطلق "مجالس عامة للعلمانية" وسياسيون يساريون
                        ينتقدون</a>
                      <span class="card-date">الخميس 22 ابريل</span>
                      <p class="card-text">أعلنت الوزيرة الفرنسية المكلفة بالمواطنة، مارلين شيابا، تنظيم نقاشات
                        حول ما أسمته "مجالس عامة للعلمانية"، تستحضر تجربة "مجالس طبقات الأمة" Etats généraux في
                        مملكة فرنسا قبل ثورة 1789..</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="">
                  <div class="section-header">الاكثر قراءة</div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                  <div class="card card-most-read">
                    <a href="" class="card-text">رئيس الوزراء يشهد توقيع اتفاقيتين لتصنيع لقاح "سينوفاك" الصينى فى
                      مصر</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="spaces">
            <a href="">
              <img src="./assets/images/ramadan2021.webp" alt="">
            </a>
            <a href="">
              <img src="./assets/images/10198959625171873868.jfif" alt="">
            </a>
            <a href="">
              <img src="./assets/images/abtal2.jpeg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contain%}

