{% extends 'base.html' %}
{% load static %}
{% block contain %}
<div class="newline">
    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg-2">
                <div class="news-img-logo">
                    <img src="./assets/images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm col-md col-lg-10">
                <div class="my-news-slider" dir="ltr">
                    <div class="slider-item">
                        <a href="">
                            مصر وليبيا يتفقان على إعادة الطيران المباشر وتوقيع 3 اتفاقيات فى الكهرباء
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">مفتى الجمهورية: إذا منع الاعتكاف فى المساجد سقطت سنة "الاعتكاف"</a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            مدبولى من طرابلس: سعيد بوجودى فى ليبيا.. وسنوقع مذكرات تفاهم وتعاون
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="spaces">
                    <a href="">
                        <img src="./assets/images/ramadan2021.webp" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="post-your-photo">
                    <p>يسعد جريدة "الأستاذ" أن تدعو محترفي وهواة التصوير لإرسال أعمالهم المميزة من الصور الفوتوغرافية،
                        وسيتم
                        اختيار أفضل الصور لنشرها في الصحيفة الورقية والموقع الإلكتروني ومنصات التواصل الاجتماعي التابعة
                        للصحيفة،
                        مع مراعاة التالي:
                    </p>
                    <ul class="list-unstyled">
                        <li>ألا تكون الصورة قد نشرت في أي مطبوعة أخرى، لكن يمكن استقبال الصور التي اشتركت في معارض خاصة
                            أو عامة،
                            ويحق للصحيفة إعادة نشر الصور.
                        </li>
                        <li>
                            رفاق المعلومات الضرورية مع الصورة؛ مثل مكان وتاريخ التصوير، ووصف موجز لمحتوى الصورة.
                        </li>
                    </ul>
                    <p>
                        <span>ملاحظة</span>: يعد إرسال المشاركة إقرارا من المصور بملكيته التامة للصور. ويلتزم المشترك
                        بالحصول على موافقة
                        الأشخاص الظاهرين بالصور، أو ولي الأمر إذا ظهر في الصور أطفال.
                    </p>
                    <h6>
                        ترسل المشاركات عبر البريد الإلكتروني:
                        <a href="mailto:omar.ali.alasmar@gmail.com">omar.ali.alasmar@gmail.com</a>
                    </h6>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="spaces">
                    <a href="">
                        <img src="./assets/images/ramadan2021.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contain%}