{% extends 'base.html' %}
{% load static %}
{% block contain %}
<div class="newline">
    <div class="container">
        {% if notes%}
        <div class="my-news-slider" dir="ltr">
            {% for note in notes%}
            <div class="slider-item">
                <a {%if note.link %} href='{{note.link}}' {% endif %}>
                    {{note.title}}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="spaces">
                    {% for photo in photos%}
                    <a href="">
                        <img src="{{photo.img.url}}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="post-your-photo">
                    <p>يسعد جريدة "الأستاذ" أن تدعو محترفي وهواة التصوير لإرسال أعمالهم المميزة من الصور الفوتوغرافية،
                        وسيتم
                        اختيار أفضل الصور لنشرها في الصحيفة الورقية والموقع الإلكتروني ومنصات التواصل الاجتماعي التابعة
                        للصحيفة،
                        مع مراعاة التالي:
                    </p>
                    <ul class="list-unstyled">
                        <li>ألا تكون الصورة قد نشرت في أي مطبوعة أخرى، لكن يمكن استقبال الصور التي اشتركت في معارض خاصة
                            أو عامة،
                            ويحق للصحيفة إعادة نشر الصور.
                        </li>
                        <li>
                            رفاق المعلومات الضرورية مع الصورة؛ مثل مكان وتاريخ التصوير، ووصف موجز لمحتوى الصورة.
                        </li>
                    </ul>
                    <p>
                        <span>ملاحظة</span>: يعد إرسال المشاركة إقرارا من المصور بملكيته التامة للصور. ويلتزم المشترك
                        بالحصول على موافقة
                        الأشخاص الظاهرين بالصور، أو ولي الأمر إذا ظهر في الصور أطفال.
                    </p>
                    <h6>
                        ترسل المشاركات عبر البريد الإلكتروني:
                        <a href="mailto:alostazalostaz2020@gmail.com">alostazalostaz2020@gmail.com</a>
                    </h6>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                {% for advertising in advertisings%}
                <a href="">
                    <img src="{{advertising.img.url}}" alt="">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock contain%}