{% extends 'base.html' %}
{% load static %}
{% block contain %}
  
  <div class="who-us">
    <div class="container">
      <img src="./assets/images/logo.png" alt="">
      <h5>من نحن</h5>
      <p>
        عن موقع جريدة الأستاذ الإلكتروني
        موقع "الأستاذ " الإليكتروني ، موقع إخباري شامل للقاريء العربي ، يصدر عن جريدة الأستاذ الورقية

        الموقع يشكل مع الجريدة ثنائيا إعلاميا يغذي كل منهما الآخر بالمحتوى ومشاركات القراء وغيرها من المواد الصحفية
        وأشكال التفاعل ، بما يتناسب وطبيعة كل منهما ، لتقديم خدمة متكاملة للقاريء حسب ميوله واحتياجاته.

        يتضمن الموقع كل ما يحتاجه القاريء العربي بصفة عامة والمصري بصفة خاصة من أخبار وموضوعات وتقارير ومقالات وتحليلات
        ومواد مصورة وفيلمية تجعله معايشا ومتابعا ومشاركا أيضا في تطورات الأحداث التي تجري من حوله ، سواء داخل مصر ، أو
        خارجها
        وإلى جانب المتابعة الإخبارية تلك ، سيحتوي الأستاذ على مقالات لمجموعة من كبار الكتاب وأصحاب الفكر والرأي كما
        سيفتح تباعاً مساحات لمجموعات أكبر من الكتاب والمتخصصين في مجالات عديدة للكتابة لكم في كل ما يهمكم عبر "مدونات
        الأستاذ ".

        نؤمن في موقع الأستاذ أن الإنترنت هو وليد مستخدميه وأفكارهم ومشاركاتهم ، وأنه لا مستقبل لموقع لا يعطي الكلمة
        لقارئه بكل الأشكال الممكنة ، وهذا غير ممكن بدون تواصلكم المستمر معنا ، سواء بتعليقاتكم على المحتوى المنشور أو
        بردود أفعالكم واقتراحاتكم حول الموقع بشكل عام ، لنتمكن دوماً من تطويره لمصلحتكم ، مستخدمين في ذلك كل ما ينمو إلى
        علمنا من تقنيات أو مصادر للمحتوى.
        فليكن أستاذنا بحق ، وليكن موقعكم هذا هو الموقع الرسمي للأفكار والأخبار..
      </p>
    </div>
  </div>


{% endblock contain%}