{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
أضف عنوان
{% endblock title%}
{% block contain %}
<h5>اضف عنوان</h5>
<form method="post" action="{% url 'add-note' %}" style="color:white">
    {% csrf_token %}
    <div class="form-group">
        <label>العنوان</label><br>
        <input type="text" name="title" class="form-control" placeholder="عنوان">
    </div>
    <div class="form-group">
        <label>الرابط</label><br>
        <input type="url" name="link" placeholder="الرابط">
    </div>

    <button type="submit" class="btn btn-success">اضف</button>
</form>
{% endblock contain%}
