{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
أضف مستخدم
{% endblock title%}
{% block contain %}
<h5>أضف مستخدم</h5>
<form method="post" action="{% url 'add-user' %}" style="color:white">
    {% csrf_token %}
    <div class="form-group">
        <label>البريد الالكترونى</label><br>
        <input type="email" name="email" class="form-control" placeholder="البريد الالكترونى">
    </div>
    <div class="form-group">
        <label>اسم المستخدم</label><br>
        <input type="text" name="name" placeholder="أسم المستخدم">
    </div>
    <div class="form-group">
        <label>رقم المحمول</label><br>
        <input type="text" name="phone" placeholder="رقم المحمول">
    </div>
    <div class="form-group">
        <label>Password</label><br>
        <input type="password" name="password" placeholder="Password">
    </div>

    <div class="input-group mb-3">
        <label>النوع</label><br>
        <select class="custom-select" name="type">
            <option value="contributor">مساهم</option>
            <option value="writer">كاتب</option>
            <option value="editor">محرر</option>
            <option value="editor_in_chief">رئيس تحرير</option>
            <option value="chairman">رئيس مجلس اداره</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">اضف</button>
</form>
{% endblock contain%}
