{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
تعديل الرمز السرى
{% endblock title%}
{% block contain %}
<h5>تعديل الرمز السرى ل{{user.name}}</h5>
<form method="post" action="{% url 'change-user-pass' user.pk %}" style="color:white">
    {% csrf_token %}
    <div class="form-group">
        <label>الرمز السري الجديده</label><br>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">تعديل الرمز السرى</button>
</form>
{% endblock contain%}
