<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<a href="{% url 'add-note'%}">اضف عنوان</a>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">اللينك</th>
      <th scope="col">العنوان</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  {% for note in notes %}
    <tr>
      <td><a href="{{note.link}}">{{note.link}}</a></td>
      <td>{{note.title}}</td>
      <th scope="row">{{forloop.counter}}</th>
    </tr>
  {% endfor %}
  </tbody>
</table>


</body>
</html>