{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
تلفزيون الأستاذ
{% endblock title%}
{% block contain %}
<h5>تلفزيون الأستاذ</h5>
<div class="add-new-blog">
    <a href="{% url 'add-tv' %}" class="btn btn-success mb-2">اضف فيديو لتلفزيون الأستاذ</a>
</div>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">العنوان</th>
            <th scope="col">الفيديو</th>
            <th scope="col">الخيارات</th>

        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th scope="col">{{video.title}}</th>
            <th scope="col">
                <iframe width="100%" height="215"
                        src="{{video.link}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </th>
            <td>
                <a class="btn btn-sm btn-danger" href="{% url 'delete-tv' video.pk %}"><i
                        class="fas fa-trash"></i></a>
                <a class="btn btn-sm btn-success" href="{% url 'edit-tv' video.pk %}"><i
                        class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example ">
    {% if videos.has_other_pages %}
    <ul class="pagination">
        {% if videos.has_previous %}
        <li class="page-item">
            <a class="page-link" style="background-color:#262b40"
               href="{% url 'show-tvs'  videos.previous_page_number%}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for i in videos.paginator.page_range %}
        {% if videos.number == i %}
        <li class="page-item">
            <a class="page-link" style="background-color:black" href="#">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'show-tvs'  i %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if videos.has_next %}
        <li class="page-item">
            <a class="page-link" style="background-color:#262b40" href="{% url 'show-tvs' videos.next_page_number%}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock contain%}
